<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        h1 {
            color: blue;
            text-decoration: bold;
            background-color: gray;
            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
        }
        </style>
    <title>Django2</title>
</head>

<body>
    Dear {{name}},
    <h1>Now here is the html version of the email from the template</h1>
</body>

</html>